* {
	margin: 0;
	padding: 0;
    font-family:"abel",sans-serif;
}

header {
    background-color: #0c045c;
    padding: 5px;
}

#servify-banner {
    /*width: 200px;
    padding-left: 50px;
    padding-top: 10px;*/
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#pesquisa-principal {
    width: 250px;
    height: 35px;
    border-radius: 20px;
    display: inline-block;
    top: 30px;
}

#cadastro {
    display: inline-block;
    margin-left: 55%;
}

#banner {
    background-color: black;
    color: white;
    padding: 100px;
}

#buttonCenter {
    text-align: center;
}

.subtitulos {
    color: rgb(249, 61, 255);
    padding: 20px;
}

.main_colab {
    display: flexbox;
}

.foto {  
    border: 2px solid #0c045c;
    width: 500px;
    height: 250px;
}

#product {
    height: auto;
    width: 100%;
    height: 100%;
}

main {
    margin: 20px;
    padding: 20px;
}

.precos {
    border: 2px solid #0c045c;
    height: 200px;
    width: 500px;
    position: absolute;
    right: 100px;
    top: 100px;
    text-align: center;
}

.desc {
    border: 2px solid #0c045c;
    color: #000;
    height: 300px;
    width: 90%;
    position: absolute;
    top: 460px;

}
.contrante {
    border: 2px solid #0c045c;
    height: 300px;
}

hr {
    color: #0c045c;
}

h1 {
    color: #000;
    text-align: center;
    font-size: small;
}
h2 {
    color: #000;
    text-align: center;
    font-size: xx-small;
}
/*Estilização do Carousel de fotos de usuários*/

.pfp {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.perfil {
    display: inline-block;
}

.faixa {
    display: flex;
    justify-content: space-around;
}

h5 {
    text-align: center;
}

.botaoRosa {
    position: relative;
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    text-decoration: none;
}
.botaoRosa:hover {
    background-color: #0056b3;
}

/*Footer*/

footer{
    margin-top: 80px;
    background-color: black;
    width: 100%;
    height: auto;
    float: left;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    align-items: center;
  }

table{
  width: 100%;
  padding: 0px 0px 0px 110px;
  
}
table th{
  font-size: 30px;
  letter-spacing: 2px; /* Espaçamento de 2 pixels entre as letras */

}
table a{
  color: #d4e7fa;
  letter-spacing: 1px; /* Espaçamento de 2 pixels entre as letras */
}
table a:hover{
  color: #d4d4d4;

}

.logo-imbativel{
  width: 360px;
  height: 2px;
}

.informacoes a{
  color: #ffffff;
}
.informacoes a:hover{
  color: #b4b3b3;
}

/* {
    border: 1px solid red;
}