* {
	margin: 0;
	padding: 0;
  font-family:"abel",sans-serif;
}

body {
  box-sizing: border-box;
  text-align: center;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #0c045c;
}

.navBar-logo  {
  display: flex;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.navBar-links {
display: flex;
align-items: center;
width: 500px;
margin: 0 auto;
gap: 20px;
}

.navBar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
}

.navBar-links a:hover {
color: #FF0084;
transition: all 0.1s ease;
}

.navBar-botao {
  display: flex;
  align-items: center;
  padding-left: auto;
  gap: 20px;
}

.botao_entra,
.botao_criarConta {
  background-color: #FF0084;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.botao_entra:hover,
.botao_criarConta:hover {
  background-color: #0056b3;
}
#servify-banner {
display: flex;
align-items: center;
margin: 20px;
width: 10%;
}

#servify-banner img {
align-items: center;
width: 100px;
height: 100px;
}

#pesquisa-principal {
display: flex;
align-items: center;
margin: auto;
height: 38px;
width: 360px;
border-radius: 15px;
}

footer{
  margin-top: 80px;
  background-color: black;
  width: 100%;
  height: auto;
  float: left;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  align-items: center;
}

table{
width: 100%;
padding: 0px 0px 0px 110px;

}
table th{
font-size: 30px;
letter-spacing: 2px; /* Espaçamento de 2 pixels entre as letras */

}
table a{
color: #d4e7fa;
letter-spacing: 1px; /* Espaçamento de 2 pixels entre as letras */
}
table a:hover{
color: #d4d4d4;

}

.logo-imbativel{
width: 360px;
height: 2px;
}

.informacoes a{
color: #ffffff;
}
.informacoes a:hover{
color: #b4b3b3;
}

/* {
  border: 1px solid red;
}