* {
	margin: 0;
	padding: 0;
    font-family:"abel",sans-serif;
}

header {
    background-color: #0c045c;
    padding: 5px;
}

#servify-banner {
    /*width: 200px;
    padding-left: 50px;
    padding-top: 10px;*/
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#pesquisa-principal {
    width: 250px;
    height: 35px;
    border-radius: 20px;
    display: inline-flex;
    top: 30px;
}

#cadastro {
    display: inline-block;
    margin-left: 55%;
}

#banner {
    background-color: black;
    color: white;
    padding: 100px;
}
.botaoRosa {
    position: relative;
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
}
body {
    background: #f4f3f5;
}

.topo {
    position: static;
    display: block;
    align-items: center;
    height: 480px;
    width: 100%;
    background-color: #0C075E;
    color: white;
}

.logo-topo {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    height: 60px;
    width: 140px;
}

.text-topo {
    position: static;
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
    font-size: 10px;
}

.topo .titulo {
    position: static;
    padding-left: 650px;
    font-size: 50px;
    padding-top: 30px;
}

.form-pesquisa {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
input[type="text"] {
   height: 50px;
   width: 800px;
   font-size: 20px;
   border-radius: 20px;
   padding: 5px;
}

.button-pesquisa {
    height: 67px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #FF0084;
    color: white;
}

.bloco-informacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 80px;
}



div .bloco-artigo {
    background-color: black;
    color: white;
    padding: 20px 35px;
    margin-right: 20px;
    border-radius: 20px;
}

.bloco-ticket {
    background-color: black;
    color: white;
    padding: 20px 35px;
    border-radius: 20px;
}

.titulo {
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-top: -500px;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
}

.base img {
    display: flex;
    margin-right: 150px;
    height: 35px;
    width: 33px;
}

.base-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.base-passos {
    background-color: black;
    color:white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-comprando {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-vendendo {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-suporte {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}
footer{
    margin-top: 80px;
    background-color: black;
    width: 100%;
    height: auto;
    float: left;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    align-items: center;
  }

table{
  width: 100%;
  padding: 0px 0px 0px 110px;
  
}
table th{
  font-size: 30px;
  letter-spacing: 2px; /* Espaçamento de 2 pixels entre as letras */

}
table a{
  color: #d4e7fa;
  letter-spacing: 1px; /* Espaçamento de 2 pixels entre as letras */
}
table a:hover{
  color: #d4d4d4;

}

.logo-imbativel{
  width: 360px;
  height: 2px;
}

.informacoes a{
  color: #ffffff;
}
.informacoes a:hover{
  color: #b4b3b3;
}

/* {
    border: 1px solid red;
}