body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f3f5;
    padding: 0%;
    margin: 0%;
}

.topo {
    position: static;
    display: block;
    align-items: center;
    height: 480px;
    width: 100%;
    background-color: #0C075E;
    color: white;
}

.logo-topo {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    height: 60px;
    width: 140px;
}

.text-topo {
    position: static;
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
    font-size: 10px;
}

.topo .titulo {
    position: static;
    padding-left: 650px;
    font-size: 50px;
    padding-top: 30px;
}

.form-pesquisa {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
input[type="text"] {
   height: 50px;
   width: 800px;
   font-size: 20px;
   border-radius: 20px;
   padding: 5px;
}

.button-pesquisa {
    height: 67px;
    width: 150px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #FF0084;
    color: white;
}

.bloco-informacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 80px;
}



div .bloco-artigo {
    background-color: black;
    color: white;
    padding: 20px 35px;
    margin-right: 20px;
    border-radius: 20px;
}

.bloco-ticket {
    background-color: black;
    color: white;
    padding: 20px 35px;
    border-radius: 20px;
}

.titulo {
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-top: -500px;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
}

.base img {
    display: flex;
    margin-right: 150px;
    height: 35px;
    width: 33px;
}

.base-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.base-passos {
    background-color: black;
    color:white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-comprando {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-vendendo {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}

.base-suporte {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px 35px;
    border-radius: 20px;
}